.Slider {
	position: relative;
	height: 30px;
	margin: 4px;
}

.Slider .Track,
.Slider .Progress {
	position: absolute;
	cursor: pointer;
	z-index: 0;

	top: 8px;
	left: 6px;
	right: 6px;
	height: 4px;

	background: red;
	transition: height 0.2s, top 0.2s;

	border-radius: 2px;
}

.Slider .Track {
	background: rgba(200, 200, 200, 0.4	)
}

.Slider:hover .Track,
.Slider.tracking .Track,
.Slider:hover .Progress,
.Slider.tracking .Progress {
	top: 6px;
	height: 8px;

	border-radius: 3px;
}

.Slider .Handle {
	position: absolute;
	cursor: pointer;
	z-index: 2;

	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	border-radius: 10px;

	background: red;
	opacity: 0;

	transition: opacity 0.1s;
}

.Slider:hover .Handle,
.Slider.tracking .Handle {
	opacity: 1;
}

.Slider .tick text {
	font-size: 10px;
	cursor: default;

	// user-select: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.Slider svg {
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.Slider .domain {
	fill: none;
}

.Slider .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.Slider:hover .tick line {
	opacity: 1;
}